
.BlogPostListing__Item {
  --bg: rgba(0, 0, 0, 0.1);
  transition: background-color 150ms;
  border-color: transparent;

  &:hover {
    box-shadow: 0 20px 30px -9px rgb(0 0 0 / 20%);
  }
}
@media (max-width: theme(--breakpoint-lg)) {
  .BlogPostListing__Item {
    width: 100%;
    border-bottom: 1px solid var(--bg);
  }
}

@media (min-width: theme(--breakpoint-lg)) and (max-width: theme(--breakpoint-xl)) {
  .BlogPostListing__Item {
    border-bottom: 1px solid var(--bg);
    width: calc((1 / 2) * 100%);

    &:nth-last-child(-n + 3) {
      border-bottom: 0;
    }

    &:nth-child(1) {
      border-right: 1px solid var(--bg);
    }

    &:nth-child(2n + 1) {
      border-right: 1px solid var(--bg);
    }
  }
}

@media (min-width: theme(--breakpoint-xl)) {
  .BlogPostListing__Item {
    border-bottom: 1px solid var(--bg);
    width: calc((1 / 3) * 100%);

    &:nth-child(3n + 1) {
      border-right: 1px solid var(--bg);
    }

    &:nth-child(3n + 2) {
      border-right: 1px solid var(--bg);
    }
  }
}

/* @media (min-width: theme(--breakpoint-lg)) and (max-width: theme(--breakpoint-xl)) {
  .by2Remainder1 {
    &:nth-last-child(-n + 2) {
      border-bottom: 0;
    }
  }
}
@media (min-width: theme(--breakpoint-xl)) {
  .by3Remainder1 {
    > &:nth-last-child(-n + 1) {
      border-bottom: 0;
    }
  }

  .by3Remainder2 {
    > :nth-last-child(-n + 2) {
      border-bottom: 0;
    }
  }
} */
