@import 'tailwindcss';
@import './visby.css';
@import './rift-soft.css';
@import './theme.css';
@import './blog.css';
@import './post.css';
@import './syntax.css';
@import './hljs-github.min.css';
/* @import './aspekta.css'; */

@keyframes logo-blink {
  /* 0%,
  49.9% {
    fill: black;
    color: black;
  }
  50%,
  100% {
    fill: white;
    color: white;
  } */

  0%,
  33.32% {
    color: rgba(0,0,0,1);
    fill: rgba(0,0,0,1);
  }
  33.33%,
  66.65% {
    color: white;
    fill: white;
  }
  66.66%,
  100% {
    color: black;
    fill: black;
  }
}

@keyframes logo-blink-rect {
  /* 0%,
  49.9% {
    background-color: theme(--color-primary-500);
  }
  50%,
  100% {
    background-color: black;
  } */

  0%,
  33.32% {
    background-color: white;
    /* background-color: rgba(0,0,0,0.08); */
  }
  33.33%,
  66.65% {
    background-color: black;
  }
  66.66%,
  100% {
    background-color: theme(--color-primary-500);
  }
}

.logo-blink-rect {
  animation: logo-blink-rect 3000ms 0ms infinite;
}

.logo-blink {
  animation: logo-blink 3000ms 0ms infinite;
}

@layer base {
  html {
    font-size: 100%;
    line-height: 1.6;
    font-family: theme(--font-body);
    width: 100%;
  }

  body {
    background-color: white;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    text-rendering: geometricPrecision;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: #6196cc;
  }
}

@utility setup-line-down {
  display: block;
  transform: translateY(110%);
  will-change: transform, opacity;
}

@utility setup-overflow {
  overflow: hidden;
  display: block;
}

@utility setup-fade-in {
  opacity: 0;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

/* Todo: Styles from v1, refactor to tailwind later */
.Tabs {
  position: relative;
}

.Tabs-container {
  display: inline-flex;
}

.Tabs-item {
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #e6e8eb;
  color: #42484e;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  /* TODO: I should really fix the twitching properly */
  min-height: 37px;
  outline: 0;
  padding: 5px 14px 6px;
  transition: all 400ms;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    &:before {
      height: 6px;
      width: 6px;
    }
  }

  &:before {
    background-color: #e0d2a5;
    content: '';
    border-radius: 100%;
    display: block;
    height: 0;
    font-size: 0px;
    margin-right: 5px;
    margin-top: 2px;
    transition: all 300ms;
    width: 0;
  }

  &.is-active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid #e0d2a5;
    box-shadow: 0 16px 46px -4px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #191e24;
    position: relative;
    z-index: 1;

    &:before {
      height: 0 !important;
      width: 0 !important;
    }
  }
}

.ScrollShadow {
  position: relative;
  width: 100%;
}

.ScrollShadow-scroller {
  overflow: auto;
  white-space: nowrap;
  max-width: 100%;
}

.ScrollShadow-shadow {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.07), transparent);
  content: '';
  height: 100%;
  position: absolute;
  pointer-events: none;
  right: 0;
  opacity: 0;
  top: 0;
  transition: opacity 300ms;
  width: 20px;
  z-index: 2;

  &.is-showing {
    opacity: 1;
  }
}
