.md > :not(pre) code {
  background-color: #eae8e1;
  border-radius: 3px;
  font-size: 13px;
  padding: 4px 5px;
  color: #48432d;
  color: #211b02;
}

.md {
  background-color: #faf9fa;
  background-color: #f3f1f3;
  background-color: hsl(300deg 8% 97%);
  color: #333;
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.8;

  @media (min-width: theme(--breakpoint-xl)) {
    font-size: 17.5px;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
    max-width: theme(--max-width-post);
  }

  > .md-fullWidth {
    margin-left: 0;
    margin-right: 0;
    max-width: auto;
  }

  > img {
    width: calc(100% - (theme(--spacing-gutter) * 2));
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > blockquote,
  > figure,
  > ul,
  > ol,
  > li,
  > p,
  > pre,
  > div,
  > dl,
  > table {
    padding-left: var(--spacing-gutter);
    padding-right: var(--spacing-gutter);
  }

  & > pre > code {
    padding-left: 0;
    padding-right: 0;
  }

  & > pre:not([data-lang]) {
    background-color: #ebebeb;
  }

  & > pre {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.8;
    padding-top: calc(theme(--spacing) * 8);
    padding-bottom: calc(theme(--spacing) * 8);
    margin-right: 0;
    position: relative;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    max-width: var(--max-width-post);

    &:before {
      text-align: center;
      color: #f1f1f1;
      font-size: 11px;
      font-weight: 500;
      padding-right: 8px;
      padding-bottom: 8px;
      content: attr(data-lang);
      position: absolute;
      bottom: 0;
      right: 0;
    }

    > code {
      display: block;
      /* margin-left: calc((100% - var(--max-width-post)) / 2); */
    }

    > code > * {
      position: relative;
      max-width: var(--max-width-post);

      &:before {
        content: attr(line);
        display: inline-block;
        height: 100%;
        left: 0;
        width: 36px;
        padding-right: 20px;
        text-align: right;
        top: 0;
      }
    }

    @media (min-width: theme(--breakpoint-lg)) {
      font-size: 13.5px;
      margin-left: auto;
      margin-right: auto;
      /* margin-left: var(--spacing-gutter); */
      /* margin-right: var(--spacing-gutter); */

      > code {
        > * {
          padding-left: 1s5px;
          padding-right: 16px;
        }
      }
    }
  }

  > figure,
  > ul,
  > ol,
  > li,
  > p,
  > dl,
  > div,
  > table,
  > pre,
  .md-spacer {
    margin-bottom: calc(theme(--spacing) * 12);
  }

  > blockquote {
    background-color: #efe9e9;
    color: rgba(#1b292b, 0.8);
    font-size: 15.5px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: calc(theme(--spacing) * 10);
    padding: 22px 26px;
    position: relative;
  }

  > .md-fullWidth {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.md-codeBlock[data-lang='info'] {
  background-color: #fff0bf;
  background-color: #f7f5f0;
  background-color: hsla(43, 9%, 95%, 1);
  border-radius: 5px;
  padding: 14px 14px !important;
}

.md-gutter {
  padding-left: calc(theme(--spacing) * 4);
  padding-right: calc(theme(--spacing) * 4);
}

.md > table,
.md-table {
  width: 100%;
  text-align: left;
}

.md > h2,
.md-h2,
.md > h3,
.md-h3,
.md-h4,
.md > h4,
.md-h5,
.md > h5,
.md-h6,
.md > h6 {
  font-family: theme(--font-body);
  position: relative;

  &:hover {
    .md-headingAnchor {
      opacity: 1;
    }
  }
}

.md-headingAnchor {
  display: block;
  left: -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 300ms;

  svg {
    fill: $app-color-link;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: 20px;
  }
}
/* 
.md > h3,
.md-h3 {
  font-weight: 600;
} */

.md > h3,
.md-h3 {
  font-family: theme(--font-heading);
  font-weight: 600;
  /* font-weight: 900; */
  font-size: 36px;
  letter-spacing: -0.4px;
  line-height: 1.2;
  margin-top: calc(theme(--spacing) * 20);
  margin-bottom: calc(theme(--spacing) * 12);
  max-width: 100%;
  padding-bottom: 16px;
  position: relative;
  z-index: 1;
  background-color: black;
  padding: 50px;
  color: white;
  padding-left: max(16px, calc((((100% - theme(--max-width-post))) / 2) + 16px));
  padding-top: 120px;

  @media (min-width: theme(--breakpoint-lg)) {
    font-size: 36px;
    font-weight: 600;
    /* font-size: 50px; */
    letter-spacing: -0.45px;
    line-height: 1;
    /* max-width: theme(--max-width-post-wide) !important; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: calc(theme(--spacing) * 20); */
    /* margin-bottom: calc(theme(--spacing) * 5); */
  }
}

.md-h4,
.md > h4 {
  font-family: var(--font-heading);
  font-size: 23px;
  font-weight: 700;
  /* font-weight: 800; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(theme(--spacing) * 10);
  margin-bottom: calc(theme(--spacing) * 5);

  @media (min-width: theme(--breakpoint-lg)) {
    max-width: calc(theme(--max-width-post-wide) - 50px);
  }
}

.md-h5,
.md > h5 {
  font-family: theme(--font-heading);
  font-weight: 900 !important;
  font-size: 16px;
  font-weight: 500;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 6);
}

.md-figure {
  margin-bottom: calc(var(--spacing) * 6);
  margin-top: calc(var(--spacing) * 6);
}

@media (min-width: theme(--breakpoint-xl)) {
  .md {
    > blockquote {
      > * {
      }
    }
  }

  .md-figure {
    margin-bottom: calc(theme(--spacing) * 6);
    margin-top: calc(theme(--spacing) * 6);
  }
}

.list-bullet {
  line-height: 1.5;
  list-style-type: none;
  padding-bottom: 20px;

  & > li {
    margin-bottom: 6px;
    margin-left: 24px;
    padding-left: 10px;
    position: relative;

    &:before {
      border-radius: 50%;
      background-color: var(--color-body);
      content: '';
      height: 0.35em;
      left: -16px;
      position: absolute;
      top: 0.6em;
      width: 0.35em;
    }
  }

  @media (min-width: theme(--breakpoint-xl)) {
    & > li {
      margin-bottom: 8px;
      margin-left: 38px;
      padding-left: 10px;
    }
  }
}

.list-number {
  line-height: 1.5;
  list-style-type: decimal;
  padding-bottom: 20px;

  & > li {
    margin-bottom: 6px;
    margin-left: 24px;
    padding-left: 10px;
  }

  @media (min-width: theme(--breakpoint-xl)) {
    & > li {
      margin-bottom: 8px;
      margin-left: 38px;
      padding-left: 14px;
    }
  }
}

.Table {
  border-collapse: collapse;
  overflow: auto;
  width: 100%;

  td {
    font-size: 14px;
    padding: 4px 16px;

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 13px;
    padding: 3px 16px;
    text-align: left;
    white-space: nowrap;

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  > tbody {
    > tr:nth-child(odd) {
      /* background-color: rgba(0, 0, 0, 0.01); */
    }

    > tr {
      &:first-child > td {
        padding-top: 6px;
      }

      &:last-child {
        > td {
          padding-bottom: 6px;
        }
      }
    }
  }
}

.Table {
  &.is-condensed {
    > tbody > tr > td {
      padding: 2px 16px 0;
    }
  }
}

.Resource-media {
  align-items: center;
  display: flex;
  padding-left: 22px;
}

.Resource-text {
  display: block;
  padding: 14px 22px;
}

.Resource {
  background-color: #2b292b;
  box-shadow: 0 20px 50px -4px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  font-family: var(--font-display);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 300ms, background-color 300ms;
  color: #eeeeee;

  &:hover {
    background-color: var(--color-primary-500);
    color: var(--color-body);

    svg {
      fill: var(--color-body);
    }
  }

  svg {
    fill: white;
    transition: fill 300ms;
    width: 20px;
  }
}
